<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ web.title }} - {{ web.subtitle }}</title>
    <meta name="description" content="{{ web.desc }}">
    <meta name="keywords" content="{{ web.title }}">
    <meta name="author" content="www.bewindward.com">
    <link rel="icon" href="https://gravatar.loli.net/avatar/c585fb80cd84c392c199d38b38a4f02d?s=50&r=X&d=mm"
          type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
</head>
<body style="padding-top: 70px;">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ web.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">探索</a></li>
                <li><a target="_blank" href="https://www.bewindward.com">博客</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card">
        <div class="alert alert-info" role="alert">{{ web.desc }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dt-buttons btn-group flex-wrap" id="toolbar">
                        <button class="btn btn-primary buttons-html5" type="button"
                                data-target="#modal-post" data-toggle="modal">
                            <span>提交链接</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="bootstrap_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="margin-top: 20px">
    <div class="container text-center">
        <p class="text-muted">Copyright © 2021 <a href="https://www.bewindward.com">上风小站</a>. All Rights Reserved.</p>
    </div>
</footer>
<div class="modal fade" id="modal-post" data-keyboard="true" tabindex="0">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提交链接</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" class="form-control" id="title" placeholder="可为空">
                    </div>
                    <div class="form-group">
                        <label for="link">链接</label>
                        <input type="url" class="form-control" id="link" placeholder="https://xxx.com">
                    </div>
                    <div class="form-group">
                        <label for="category">类型</label>
                        <select class="form-control" id="category">
                            {% for category in data.categorys %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="author">发布者</label>
                        <input type="text" class="form-control" id="author" placeholder="可为空">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submit_post">确认</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-zh-CN.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sweetalert2.all.js') }}"></script>
<script>
    const showLoading = function (link) {
        swal({
            title: '跳转中...',
            allowEscapeKey: false,
            allowOutsideClick: false,
            timer: 1000,
            onOpen: () => {
                swal.showLoading();
            }
        }).then(
            () => {
                window.open(link);
            }
        )
    };

    $(function () {
        var oTable = new TableInit();
        oTable.Init();

        function check_form() {
            var link = $("#link").val();
            var title = $("#title").val();
            var author = $("#author").val();
            var category = $("#category").val();

            if (link.length === 0) {
                Swal.fire('输入表单填写有误', '', 'warning')
                return false
            }

            return {
                data: JSON.stringify({
                    'link': link,
                    'title': title,
                    'author': author,
                    'category': category,
                })
            }
        }

        $("#submit_post").click(function () {
            var data = check_form();
            if (data === false)
                return

            $.post({
                data: data,
                dataType: 'json',
                url: '/post',
                success: function (res) {
                    var status = res["status"];
                    if (status === true) {
                        Swal.fire(res["msg"], '', 'success');

                        $("#modal-post").modal('hide');
                        $("#bootstrap_table").bootstrapTable('refresh');
                    } else Swal.fire(res["msg"], '', 'error');
                },
                error: function () {
                    Swal.fire("网络问题", '', 'error')
                }
            })
        })
    })

    function op(id, type) {
        var data = $("#bootstrap_table").bootstrapTable("getRowByUniqueId", id);

        var op_data = {
            data: JSON.stringify({
                'link_id': data.id,
                'type': type,
            })
        }

        $.post({
            data: op_data,
            dataType: 'json',
            url: '/op',
            success: function (res) {
                var status = res["status"];
                if (status === true) {
                    Swal.fire(res["msg"], '', 'success');
                    $("#bootstrap_table").bootstrapTable('refresh');
                } else Swal.fire(res["msg"], '', 'error');
            },
            error: function () {
                Swal.fire("网络问题", '', 'error')
            }
        })
    }

    function go(id) {
        var data = $("#bootstrap_table").bootstrapTable("getRowByUniqueId", id);

        var go_data = {
            data: JSON.stringify({
                'link_id': data.id,
            })
        }

        $.post({
            data: go_data,
            dataType: 'json',
            url: '/go',
            success: function (res) {
                var status = res["status"];
                if (status === true) {
                    showLoading(res["msg"]);
                } else Swal.fire(res["msg"], '', 'error');
            },
            error: function () {
                Swal.fire("网络问题", '', 'error')
            }
        })
    }

    var category_objs = {{ data.category_objs|tojson }};

    var TableInit = function () {
        var oTableInit = {};
        oTableInit.Init = function () {
            function actionFormatter(value, row, index) {
                return "<div class=\"btn-group btn-group-sm\" role=\"group\">" +
                    "<button onclick='go(" + row.id + ")' title='访问' type=\"button\" class=\"btn btn-default\"><span class=\"glyphicon glyphicon-link\" aria-hidden=\"true\"></span></button>" +
                    "<button onclick='op(" + row.id + ", 1)' title='点赞' type=\"button\" class=\"btn btn-default\"><span class=\"glyphicon glyphicon-thumbs-up\" aria-hidden=\"true\"></span></button>" +
                    "<button onclick='op(" + row.id + ", 2)' title='点踩' type=\"button\" class=\"btn btn-default\"><span class=\"glyphicon glyphicon-thumbs-down\" aria-hidden=\"true\"></span></button>" +
                    "</div>";
            }

            function categoryFormatter(value, row, index) {
                return category_objs[value];
            }

            var columns = [{
                field: 'id',
                title: 'id',
                visible: false,
            }, {
                field: 'title',
                title: '标题',
            }, {
                field: 'link',
                title: '链接',
                visible: false
            }, {
                field: 'category',
                title: '分类',
                sortable: true,
                formatter: categoryFormatter,
            }, {
                field: 'author',
                title: '发布',
            }, {
                field: 'pros',
                title: '点赞',
                sortable: true,
            }, {
                field: 'cons',
                title: '点踩',
                sortable: true,
            }, {
                field: 'views',
                title: '查看',
                sortable: true,
            }, {
                field: 'create_time',
                title: '时间',
                sortable: true,
                visible: false
            }, {
                field: 'action',
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            }]

            $('#bootstrap_table').bootstrapTable({
                url: '/get_links',
                method: 'get',
                uniqueId: 'id',
                toolbar: '#toolbar',
                dataType: 'json',
                pageNumber: 1,
                pageSize: 20,
                sidePagination: "server",
                search: true,
                strictSearch: false,
                queryParams: function (params) {
                    query_params = {
                        rows: params.limit,
                        page: (params.offset / params.limit) + 1,
                        sort: params.sort,
                        order: params.order,
                        keyword: $('input.search-input').val(),
                    }
                    return query_params;
                },
                cache: false,
                pagination: true,
                columns: columns,
                showColumns: true,
                paginationDetailHAlign: ' hide'
            });
        }
        return oTableInit;
    }
</script>
</body>
</html>
